<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="try.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00455355425015718 -0.0435599527701323 -0.00619543145509416"
        rpy="0 0 0" />
      <mass
        value="0.000389416654106519" />
      <inertia
        ixx="3.29445501118101E-09"
        ixy="4.03896783473159E-25"
        ixz="2.60411084548167E-25"
        iyy="3.29445501118101E-09"
        iyz="-8.3754046608655E-25"
        izz="4.44151178822013E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.223529411764706 0.223529411764706 0.223529411764706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://try.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>