<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="try2.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00898237499292494 -0.0202211944093694 -0.0169011284877358"
        rpy="0 0 0" />
      <mass
        value="0.138629348190767" />
      <inertia
        ixx="0.000109802494769175"
        ixy="-2.82916362507769E-08"
        ixz="-1.68216360689931E-09"
        iyy="0.000111319690596636"
        iyz="-2.90943518036172E-07"
        izz="9.93801604239398E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="T:\Learn_More\learn from project\mujocu\try2.SLDASM\meshes\base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="T:\Learn_More\learn from project\mujocu\try2.SLDASM\meshes\base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>